*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
*.iml

# generated maven/build directories.
build
target
.target

# DS_Store
.DS_Store

*.log

# spark metastore
metastore_db/
spark-warehouse/
